body {
    font-family: Google Sans,arial,sans-serif;
}

.stracture {
    max-width: 600px;
    margin: 30px auto;
    


}
.weather-app {
    
    
    padding: 30px;
    border: 1px solid #dadde1;
    border-radius: 5px;
}

h1 {
    
        color: #202124;
        font-size: 35px;
        line-height: 26px;
        margin-bottom: 5px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 200;
    line-height: 25px;
}

.weather-temeprature  strong {
    font-size: 64px;
    line-height: 2;
    font-weight: normal;
}

.weather-temeprature .units {
    position: relative;
    font-size: 20px;
    top: 30px;
    
}

a {
    text-decoration: none;
}